.gitignore
Project_1/archive/
Project_2/.ipynb_checkpoints/
Project_2/archive/
Project_2/data/
Project_3/data/
Project_3/.ipynb_checkpoints/
Project_3/data/
Project_3/charts/
Project_3/app/archive/
Project_3/archive/
Project_3/YouTube/
Project_3/notebooks/.ipynb_checkpoints/
Project_4/charts/
Project_4/data/
Project_4/archive/
Project_4/notebooks/.ipynb_checkpoints/
Project_4/notebooks/checkpoints/
Project_4/notebooks/__pycache__/
Project_4/supervised/
Project_5/charts/
Project_5/data/
Project_5/archive/
Project_5/charts/
Project_5/midi_songs/
Project_5/notebooks/.ipynb_checkpoints/
Project_5/weights/
Project_5/output/
Project_5/scripts/archive/
Challenges/archive/
Challenges/data/
Challenges/drafts/
Challenges/.ipynb_checkpoints/
Investigations/1_StyleTransfer/fast-style-transfer/
